*, *:after, *:before {
  padding:10;
  margin:10;
/*  font-family:Arial;
*/}


@media (min-width:768px) {

.fancy_grid {
  list-style: none;
  text-align: center;
  margin: 0 auto;
  padding:10;
  margin:auto;
  width:100%;
}

.fancy_grid li {
  position:relative;
  width:15%;
  height:550px;
  float:left;
  border-left:1px solid white;
  -webkit-transition:all 0.7s;
  -moz-transition:all 0.7s;
  transition:all 0.7s;
  box-shadow:-2px 0 10px 2px;
  cursor: pointer;
}



.fancy_grid li:first-child {
  border:none;
}

/*.fancy_grid li:last-child {
  width:100px;  
}*/

.fancy_grid span {
  width:750px;
  display:block;
  position:absolute;
  bottom:0;
/*  width:100%;
*/  color:black;
  white-space:nowrap;
  padding:20px;
  background: #E6E6E6;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
  font-size: 30px;
  text-align: left;
  text-indent: 20px;

}

.fancy_grid span.close2 {

  position: relative;
  top: 15%;
  right: 10px;
  left: 45%;
  width: 10%;
  height: 0%;
  text-indent: -9000px;
  cursor: pointer;
  z-index: 1000;
  color: #696969;

}

.fancy_grid span.close2::before {
  content: 'x';
  font-weight: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  font-size: 100px;
  line-height: 0.6;
  text-align: center;
  text-indent: 0px;
}



.fancy_grid img {
  width:750px;
  height:450px;
}

.fancy_grid:hover li{
  width:50px;  
}


.fancy_grid  li:hover {
  width:750px;
}

.fancy_grid:hover  span {
  text-align: center;
}


.fancy_box {
  width: 100%;
  height: 100%;
}

.fancy_box > div {
  width: 50%;
  height: 100%;
  float: center;
  position: relative;
  padding: 10% 10%;
  font-size: 20px;
  background: #E6E6E6;
}

.fancy_box > div:first-child {
  width: 100%;
}

.fancy_box span {
  padding: 5% 0;
  font-size: 2em;
  font-weight: 100;
  display: block;
  margin: auto 0;
  height: 10%;
  width: 10%;
  line-height: 0.8;
  float: center;
}

.fancy_box span.rb-city {
  font-weight: 700;
  padding: 1% 10%;
  font-size: 1em;
  line-height: 1.2;
}

.fancy_box [class^="icon-"]:before {
  font-size: 2.5em;
  font-weight: normal;
}

.fancy_box > div:first-child [class^="icon-"] {
  opacity: 0.1;
}

}

@media (max-width:768px) {

/*.fancy_grid, .fancy_box{
    width: 49.5%

}*/
.fancy_grid {
  list-style: none;
  text-align: center;
  margin: 0 auto;
  padding:10;
  margin:auto;
  width:90%;
}

.fancy_grid li {
  position:relative;
  width:90%;
  height:300px;
  float:left;
  border-left:1px solid white;
  -webkit-transition:all 0.7s;
  -moz-transition:all 0.7s;
  transition:all 0.7s;
  box-shadow:-2px 0 10px 2px;
  cursor: pointer;
}



.fancy_grid li:first-child {
  border:none;
}

.fancy_grid span {
  display:block;
  position:absolute;
  bottom:0;
  width:100%;
  color:black;
  white-space:nowrap;
  padding:20px;
  background: #E6E6E6;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); 
  font-size: 20px;

}

.fancy_grid span.close2 {

  position: relative;
  top: 1%;
  right: 10px;
  left: 45%;
  width: 10%;
  height: 0%;
  text-indent: -9000px;
  cursor: pointer;
  z-index: 1000;
  color: #696969;

}

.fancy_grid span.close2::before {
  content: 'x';
  font-weight: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  font-size: 50px;
  line-height: 0.6;
  text-align: center;
  text-indent: 0px;
}

.rb-close2 {
  position: absolute;
  top: 100px;
  right: 0.4em;
  width: 100%;
  height: 0%;
  text-indent: -9000px;
  cursor: pointer;
  z-index: 1000;
  color: #339966;
}

.rb-close2::before {
  content: 'x';
  font-weight: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  font-size: 3em;
  line-height: 0.6;
  text-align: center;
  text-indent: 0px;
}

.fancy_grid img {
/*  width:750px;
  height:450px;*/
  width:100%;
  height:300px;
}

.fancy_grid:hover li {
  width:100%;  
}


.fancy_grid  li:hover {
/*  width:750px;*/
  width:100%;

}


.fancy_box {
/*  width: 100%;
  height: 100%;*/
  width: 100%;
  height: 100%;
}

.fancy_box > div {
/*  width: 50%;
  height: 100%;*/
  width: 50%;
  height: 100%;
  float: center;
  position: relative;
  padding: 10% 10%;
  font-size: 20px;
  background: #E6E6E6;
}

.fancy_box > div:first-child {
/*  width: 100%;
*/
  width: 100%;
}

.fancy_box span {
  padding: 5% 0;
  font-size: 15px;
  font-weight: 100;
  display: block;
  margin: auto 0;
  height: 10%;
  width: 10%;
  line-height: 0.8;
  float: center;
}

.fancy_box span.rb-city {
  font-weight: 700;
  padding: 1% 10%;
  font-size: 15px;
  line-height: 1.2;
}

.fancy_box [class^="icon-"]:before {
  font-size: 2.5em;
  font-weight: normal;
}

.fancy_box > div:first-child [class^="icon-"] {
  opacity: 0.1;
}

}